boto3==1.40.70
botocore==1.40.70
certifi==2025.10.5
charset-normalizer==3.4.4
grpcio==1.76.0
idna==3.11
jmespath==1.0.1
milvus-lite==2.5.1
numpy==2.3.4
orjson==3.11.4
pandas==2.3.3
protobuf==6.33.0
pymilvus==2.6.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
requests==2.32.5
s3transfer==0.14.0
setuptools==80.9.0
six==1.17.0
tqdm==4.67.1
typing-extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
