{
    "openapi": "3.0.1",
    "info": {
        "title": "智能文档抽取服务-API文档",
        "description": "智能文档抽取服务-API文档，老板要求该版本将自定义抽取与自动结构化抽取融合为一个接口，所以接口返回的数据结构比较冗余，看着挺费劲的是吧？",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.textin.com"
        }
    ],
    "security": [
        {
            "AppIdAuth": [],
            "SecretCodeAuth": []
        }
    ],
    "paths": {
        "/ai/service/v1/entity_extraction": {
            "post": {
                "summary": "智能文档抽取服务",
                "operationId": "llm_uie",
                "description": "智能文档抽取服务-API文档\n",
                "parameters": [
                    {
                        "name": "ie_type",
                        "in": "query",
                        "description": "信息抽取类型，不传时默认为`close_ie`\n\n\n* `close_ie`：自定义key抽取模式，将会按url参数`key`与`table_header`的值进行信息抽取。\n\n* `auto_structure`：自动结构化模式，自动提取样本中`第一页`所有字段信息，该模式下url参数`key`与`table_header`将不在生效\n",
                        "schema": {
                            "type": "string",
                            "example": "close_ie",
                            "enum": [
                                "close_ie",
                                "auto_structure"
                            ]
                        }
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "description": "单值抽取时要抽取的key\n\n* 单个key请求示例：`/ai/service/v1/entity_extraction?key=企业名称`\n\n* 多个key时，key之间请用英文逗号拼接，例如：`/ai/service/v1/entity_extraction?key=企业名称,地址`\n\n**当type=auto_structure时该参数无效**\n",
                        "schema": {
                            "type": "string",
                            "example": "姓名,年龄"
                        }
                    },
                    {
                        "name": "table_header",
                        "in": "query",
                        "description": "表格抽取时要抽取的表格列头，参考`key`的传参方式\n\n**当type=auto_structure时该参数无效**\n\n如下表，若抽取表格信息，请求示例：`/ai/service/v1/entity_extraction?table_header=姓名,性别,年龄`\n|姓名|性别|年龄|\n|--|--|--|\n|杜*傅|男|25|\n|李*霞|女|18|\n|陶*涛|男|24|\n",
                        "schema": {
                            "type": "string",
                            "example": "编号,产品名"
                        }
                    },
                    {
                        "name": "file_name",
                        "in": "query",
                        "description": "待抽取样本的文件名（含后缀名）\n",
                        "schema": {
                            "type": "string",
                            "example": "temp_file.jpg"
                        }
                    }
                ],
                "requestBody": {
                    "description": "支持的文件格式：png, jpg, jpeg, doc, docx, pdf, ofd, xlsx, xls；文档最大处理页数为20页，抽取的key与table_header最大数量之和为30个，超出最大限制优先取key。",
                    "required": true,
                    "content": {
                        "application/octet-stream": {
                            "schema": {
                                "type": "string",
                                "format": "binary"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "JSON Data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/CodeMessage"
                                        },
                                        {
                                            "$ref": "#/components/schemas/CommonResult"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "AppIdAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "x-ti-app-id",
                "description": "请登录Textin后前往 \"工作台-账号设置-开发者信息\" 查看 x-ti-app-id"
            },
            "SecretCodeAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "x-ti-secret-code",
                "description": "请登录Textin后前往 \"工作台-账号设置-开发者信息\" 查看 x-ti-secret-code"
            }
        },
        "schemas": {
            "CodeMessage": {
                "type": "object",
                "required": [
                    "version",
                    "code",
                    "message"
                ],
                "properties": {
                    "version": {
                        "example": "v1.6.5",
                        "type": "string",
                        "description": "版本号"
                    },
                    "code": {
                        "example": 200,
                        "type": "integer",
                        "description": "错误码\n- 200: OK\n- 500: 服务器内部错误\n- 40303: 文件类型不支持\n- 40305: 识别文件未上传\n",
                        "enum": [
                            200,
                            500,
                            40303,
                            40305
                        ]
                    },
                    "message": {
                        "type": "string",
                        "description": "错误信息",
                        "example": "success"
                    }
                }
            },
            "BoundingRegions": {
                "type": "array",
                "description": "边界框信息",
                "items": {
                    "properties": {
                        "page_number": {
                            "type": "integer",
                            "description": "所在页码"
                        },
                        "value": {
                            "type": "string",
                            "description": "文本内容"
                        },
                        "position": {
                            "type": "array",
                            "description": "文本的坐标",
                            "maximum": 8,
                            "minimum": 0,
                            "example": [
                                343,
                                56,
                                459,
                                56,
                                459,
                                90,
                                343,
                                90
                            ],
                            "items": {
                                "type": "integer"
                            }
                        },
                        "char_pos": {
                            "type": "array",
                            "description": "每个字符的坐标",
                            "items": {
                                "example": [
                                    343,
                                    56,
                                    459,
                                    56,
                                    459,
                                    90,
                                    343,
                                    90
                                ],
                                "type": "array",
                                "items": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "CommonLines": {
                "type": "array",
                "description": "抽取结果的文本行信息",
                "items": {
                    "type": "object",
                    "description": "文本行信息",
                    "properties": {
                        "page": {
                            "type": "integer",
                            "description": "所在页数",
                            "example": 0
                        },
                        "text": {
                            "type": "string",
                            "description": "文本内容",
                            "example": "example"
                        },
                        "pos": {
                            "type": "array",
                            "description": "文本行坐标",
                            "items": {
                                "type": "integer",
                                "example": 100,
                                "minimum": 0
                            },
                            "maxItems": 8,
                            "minItems": 8,
                            "example": [
                                100,
                                200,
                                200,
                                200,
                                300,
                                200,
                                100,
                                300
                            ]
                        },
                        "angle": {
                            "type": "integer",
                            "description": "文本行旋转角度",
                            "example": 90,
                            "minimum": 0,
                            "maximum": 270
                        },
                        "char_pos": {
                            "type": "array",
                            "description": "文本行字符坐标",
                            "items": {
                                "type": "array",
                                "description": "单字符坐标",
                                "items": {
                                    "type": "integer",
                                    "example": 100,
                                    "minimum": 0
                                },
                                "maxItems": 8,
                                "minItems": 8,
                                "example": [
                                    100,
                                    200,
                                    200,
                                    200,
                                    300,
                                    200,
                                    100,
                                    300
                                ]
                            }
                        }
                    }
                }
            },
            "CommonItem": {
                "properties": {
                    "value": {
                        "type": "string",
                        "example": "字段识别结果",
                        "description": "字段识别结果"
                    },
                    "position": {
                        "maxItems": 8,
                        "description": "识别的value在原图中的坐标是个长度为8的数组\n[0,1,2,3,4,5,6,7]\n- (0, 1) 左上角坐标\n- (2, 3) 右上角坐标\n- (4, 5) 右下角坐标\n- (6, 7) 左下角坐标\n",
                        "items": {
                            "type": "integer",
                            "example": 100,
                            "minimum": 0
                        },
                        "minItems": 0,
                        "example": [
                            100,
                            200,
                            200,
                            200,
                            300,
                            200,
                            100,
                            300
                        ],
                        "type": "array"
                    },
                    "description": {
                        "type": "string",
                        "example": "字段中文描述",
                        "description": "字段中文描述"
                    },
                    "lines": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/CommonLines"
                            }
                        ]
                    }
                },
                "type": "object",
                "required": [
                    "value"
                ]
            },
            "CommonResult": {
                "properties": {
                    "duration": {
                        "type": "integer",
                        "description": "推理时间(ms)",
                        "example": 2825
                    },
                    "result": {
                        "properties": {
                            "category": {
                                "type": "object",
                                "description": "`details`字段里的数据类型\n* one_to_one：表示单值抽取的key\n* item_list：表示表格的抽取（当url参数`type=auto_structure`时不会返回该类型）\n",
                                "additionalProperties": {
                                    "type": "string",
                                    "enum": [
                                        "one_to_one"
                                    ],
                                    "example": "one_to_one",
                                    "description": "虚拟字段，真实调用时为抽取的key"
                                },
                                "properties": {
                                    "row": {
                                        "type": "string",
                                        "enum": [
                                            "item_list"
                                        ],
                                        "example": "item_list",
                                        "description": "表格类型"
                                    }
                                }
                            },
                            "rotated_image_width": {
                                "exclusiveMinimum": true,
                                "minimum": 0,
                                "description": "正方向时文档的宽，仅文档为图片时其值有效",
                                "example": 1000,
                                "type": "integer"
                            },
                            "rotated_image_height": {
                                "exclusiveMinimum": true,
                                "minimum": 0,
                                "description": "正方向时文档高，仅文档为图片时其值有效",
                                "example": 2000,
                                "type": "integer"
                            },
                            "page_count": {
                                "exclusiveMinimum": true,
                                "minimum": 1,
                                "description": "智能文档抽取处理的文档页数，超过最大页数限制时（20页），返回为最大页数\n\n当url参数`type=auto_structure`时只会返回1\n",
                                "example": 10,
                                "type": "integer"
                            },
                            "image_angle": {
                                "type": "integer",
                                "enum": [
                                    0,
                                    90,
                                    180,
                                    270
                                ],
                                "example": 90,
                                "description": "文档角度，指原文档需要经过顺时针旋转多少度，才能得到正方向的文档，仅文档为图片时其值有效"
                            },
                            "details": {
                                "type": "object",
                                "description": "文档抽取结果",
                                "additionalProperties": {
                                    "type": "object",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/CommonItem"
                                        }
                                    ]
                                },
                                "properties": {
                                    "row": {
                                        "type": "array",
                                        "description": "table_header的抽取结果（当url参数`type=auto_structure`时不会返回该字段）",
                                        "items": {
                                            "type": "object",
                                            "description": "表格行数据",
                                            "additionalProperties": {
                                                "type": "object",
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/CommonItem"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            },
                            "detail_structure": {
                                "type": "array",
                                "description": "字段的识别信息",
                                "items": {
                                    "type": "object",
                                    "description": "结构化抽取结果",
                                    "properties": {
                                        "doc_type": {
                                            "type": "string",
                                            "description": "文档的类型（仅当url参数`type=auto_structure`返回该字段）"
                                        },
                                        "page_range": {
                                            "type": "array",
                                            "description": "抽取的信息所在页范围",
                                            "items": {
                                                "type": "integer"
                                            }
                                        },
                                        "tables": {
                                            "type": "array",
                                            "description": "表格信息",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "position": {
                                                        "type": "array",
                                                        "description": "坐标",
                                                        "maximum": 8,
                                                        "minimum": 0,
                                                        "example": [
                                                            343,
                                                            56,
                                                            459,
                                                            56,
                                                            459,
                                                            90,
                                                            343,
                                                            90
                                                        ],
                                                        "items": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "page_number": {
                                                        "type": "number",
                                                        "description": "所在页"
                                                    },
                                                    "text": {
                                                        "type": "string",
                                                        "description": "html形式的表格"
                                                    }
                                                }
                                            }
                                        },
                                        "tables_relationship": {
                                            "type": "array",
                                            "description": "表格的结构化信息（当url参数`type=auto_structure`时返回为空数组）",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "row_count": {
                                                        "type": "number",
                                                        "description": "行数",
                                                        "example": 2
                                                    },
                                                    "column_count": {
                                                        "type": "number",
                                                        "description": "列数",
                                                        "example": 2
                                                    },
                                                    "cells": {
                                                        "type": "array",
                                                        "description": "单元格信息",
                                                        "items": {
                                                            "type": "object",
                                                            "additionalProperties": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": "string",
                                                                            "description": "字段识别结果"
                                                                        },
                                                                        "bounding_regions": {
                                                                            "$ref": "#/components/schemas/BoundingRegions"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "description": "title",
                                                        "example": "row"
                                                    }
                                                }
                                            }
                                        },
                                        "category": {
                                            "type": "array",
                                            "description": "结构化抽取出来的所有字段",
                                            "example": [
                                                "标题",
                                                "性别"
                                            ],
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "fields": {
                                            "type": "object",
                                            "description": "提取的字段结构化结果",
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "字段识别结果"
                                                        },
                                                        "bounding_regions": {
                                                            "$ref": "#/components/schemas/BoundingRegions"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "stamps": {
                                            "type": "array",
                                            "description": "印章识别结果",
                                            "items": {
                                                "properties": {
                                                    "color": {
                                                        "type": "string",
                                                        "description": "当前印章颜色\n- 红色\n- 蓝色\n- 黑色\n- 其他\n",
                                                        "enum": [
                                                            "红色",
                                                            "蓝色",
                                                            "黑色",
                                                            "其他"
                                                        ],
                                                        "example": "红色"
                                                    },
                                                    "position": {
                                                        "type": "array",
                                                        "description": "印章的坐标信息",
                                                        "example": [
                                                            956,
                                                            583,
                                                            1362,
                                                            590,
                                                            1355,
                                                            990,
                                                            950,
                                                            983
                                                        ],
                                                        "items": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "stamp_shape": {
                                                        "type": "string",
                                                        "description": "当前印章形状\n- 圆章\n- 椭圆章\n- 方章\n- 三角章\n- 菱形章\n- 其他\n",
                                                        "enum": [
                                                            "圆章",
                                                            "椭圆章",
                                                            "方章",
                                                            "三角章",
                                                            "菱形章",
                                                            "其他"
                                                        ],
                                                        "example": "圆章"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "description": "当前印章类型\n- 公章\n- 个人章\n- 专用章\n- 其他\n- 合同专用章\n- 财务专用章\n- 发票专用章\n- 业务专用章\n",
                                                        "enum": [
                                                            "公章",
                                                            "个人章",
                                                            "专用章",
                                                            "其他",
                                                            "合同专用章",
                                                            "财务专用章",
                                                            "发票专用章",
                                                            "业务专用章"
                                                        ],
                                                        "example": "公章"
                                                    },
                                                    "value": {
                                                        "type": "string",
                                                        "description": "印章的文本内容"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "finish_reason": {
                                "type": "string",
                                "description": "推理结束的原因\n* stop：正常推理结束\n* length：token超出限制而结束\n",
                                "enum": [
                                    "stop",
                                    "length"
                                ],
                                "example": "stop"
                            },
                            "documents": {
                                "type": "array",
                                "description": "文档每一页的文档元素信息",
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "page_id": {
                                                "type": "integer",
                                                "description": "所在页",
                                                "example": 0
                                            },
                                            "position": {
                                                "type": "array",
                                                "description": "坐标信息",
                                                "example": [
                                                    956,
                                                    583,
                                                    1362,
                                                    590,
                                                    1355,
                                                    990,
                                                    950,
                                                    983
                                                ],
                                                "items": {
                                                    "type": "integer"
                                                }
                                            },
                                            "paragraph_id": {
                                                "type": "integer",
                                                "description": "当前段落id"
                                            },
                                            "type": {
                                                "type": "string",
                                                "description": "当前元素的类型\n- paragraph：段落类型，包括正文、标题、公式等文字信息\n- image：图片\n- table：表格，当为表格时，text里存储的为表格的html信息\n",
                                                "enum": [
                                                    "paragraph",
                                                    "image",
                                                    "table"
                                                ],
                                                "example": "paragraph"
                                            },
                                            "text": {
                                                "type": "string",
                                                "description": "文字信息"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "type": "object",
                        "required": [
                            "details",
                            "category",
                            "image_angle",
                            "rotated_image_width",
                            "rotated_image_height",
                            "detail_structure",
                            "documents",
                            "finish_reason"
                        ]
                    }
                },
                "type": "object"
            }
        }
    }
}