openapi: 3.0.3
info:
  title: XParse Pipeline API
  description: |
    文档解析流水线接口，支持文档解析（Parse）、文本分块（Chunk）和向量化（Embed）的组合处理。
    
    **流水线规则**
    - parse 节点是必需的，且必须是第一个节点
    - chunk 和 embed 节点是可选的
    - 如果同时使用 chunk 和 embed，chunk 必须在 embed 之前
    - 每种类型的节点最多只能出现一次
    - stages 数组长度必须在 1-3 之间
  version: 1.0.0
  contact:
    name: TextIn API Team

servers:
  - url: https://api.textin.com
    description: 生产环境

security:
  - AppIdAuth: []
    SecretCodeAuth: []

paths:
  /api/xparse/pipeline:
    post:
      summary: 文档处理流水线
      description: |
        执行文档处理流水线，可以组合使用 parse、chunk、embed 三种处理阶段。
        
        **流水线规则**
          - parse 节点是必需的，且必须是第一个节点
          - chunk 和 embed 节点是可选的
          - 如果同时使用 chunk 和 embed，chunk 必须在 embed 之前
          - 每种类型的节点最多只能出现一次
          - stages 数组长度必须在 1-3 之间
      operationId: executePipeline
      tags:
        - XParse Pipeline
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - stages
              properties:
                file:
                  type: string
                  format: binary
                  description: 需要处理的文档文件（支持 PDF、图片等格式）
                stages:
                  type: string
                  description: |
                    流水线配置的 JSON 字符串，必须是 PipelineStage 数组。
                    注意：虽然这里是 string 类型（因为 form-data 限制），但内容必须是有效的 JSON 数组字符串。

                    **Stages 说明：**

                    Pipeline 接口使用 stages 数组来定义处理流程，每个 stage 包含：
                    - `type`: 阶段类型，可选值：`parse`、`chunk`、`embed`
                    - `config`: 该阶段的配置，具体字段取决于阶段类型

                    **使用示例**
        
                    仅解析：
                    ```json
                    [{"type": "parse", "config": {"provider": "textin"}}]
                    ```
                    
                    解析 + 分块：
                    ```json
                    [
                      {"type": "parse", "config": {"provider": "textin"}},
                      {"type": "chunk", "config": {"strategy": "basic", "max_characters": 1000}}
                    ]
                    ```
                    
                    解析 + 分块 + 向量化：
                    ```json
                    [
                      {"type": "parse", "config": {"provider": "textin"}},
                      {"type": "chunk", "config": {"strategy": "by_title", "max_characters": 500}},
                      {"type": "embed", "config": {"provider": "qwen", "model_name": "text-embedding-v4"}}
                    ]
                    ```

                    **各阶段配置详细说明：**

                    1. **Parse Stage** (`type: "parse"`)

                    Parse 参数中有必填项`Provider`，表示文档解析服务的供应商，目前可选项如下：
                    - textin: 合合信息提供的文档解析服务，在速度、准确性上均为行业领先
                      - 支持的文档解析参数参考 [Parse 参数说明](/pipeline/parse#参数说明)
                      - 接口调用将按照 `TextIn 通用文档解析` 服务的计费标准进行计费
                    - mineru: 基于开源的最新[MinerU](https://github.com/opendatalab/MinerU)解析引擎
                    - paddle: 基于开源的最新[PaddleOCR](https://github.com/PaddlePaddle/PaddleOCR)解析引擎

                    2. **Chunk Stage** (`type: "chunk"`)

                    - **strategy** (`string`/必填): 分块策略，默认值：`basic`
                      - `basic`: 基础分块，按字符数分割
                      - `by_title`: 按标题分块，保持章节完整性
                      - `by_page`: 按页面分块，保持页面完整性
                    - **combine_text_under_n_chars** (`int`/可选): 将同一部分中的元素合并成一个数据块，直到该部分的总长度达到指定字符数。默认值：`None`。可用于将过短的小块合并成较长文本，提高语义连贯性。
                    - **include_orig_elements** (`bool`/可选): 如果为 `true`，用于构成数据块的原始元素会出现在该数据块的 `.metadata.orig_elements` 中。默认值：`False`。用于调试或需要保留原始元素追溯的场景。
                    - **new_after_n_chars** (`int`/可选): 当文本长度达到指定字符数时，强制结束当前章节并开始新的章节（近似限制）。默认值：`None`。适用于需要控制章节最大长度的情况下。
                    - **max_characters** (`int`/可选): 数据块中允许的最大字符数上限。默认值：`None`。用于硬性限制块大小，避免过大块带来的处理延迟或内存占用。
                    - **overlap** (`int`/可选): 将前一个文本分块末尾指定数量的字符，作为前缀应用到由过大元素分割而成的第二个及后续文本块。默认值：`None`。常用于确保分块之间的上下文连续性。
                    - **overlap_all** (`bool`/可选): 如果为 `true`，重叠也会应用到由完整元素组合而成的"普通"块。默认值：`False`。谨慎使用，可能在语义上引入噪声。


                    3. **Embed Stage** (`type: "embed"`)

                    `xparse-client`当前支持的文本向量化模型如下：
                    - `qwen` 供应商，即通义千问:
                      - `text-embedding-v3`
                      - `text-embedding-v4`
                    - `doubao` 供应商，即火山引擎:
                      - `doubao-embedding-large-text-250515`
                      - `doubao-embedding-text-240715`
                  example: '[{"type":"parse","config":{"provider":"textin"}}]'
            encoding:
              stages:
                contentType: application/json
      responses:
        '200':
          description: 处理成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineResponse'
              examples:
                parseOnly:
                  summary: 仅解析示例
                  value:
                    elements:
                      - element_id: "13a9939f23e485ca20a16c741658bcf64efd82309a6f0a8cf35679a65b2fd0dc"
                        type: "NarrativeText"
                        metadata:
                          filename: "example.pdf"
                          filetype: "application/pdf"
                          file_size: 102400
                          languages: ["zh"]
                          is_continuation: false
                        text: "这是解析出的文本内容"
                    stats:
                      original_elements: 10
                      chunked_elements: 0
                      embedded_elements: 0
                      stages:
                        - type: "parse"
                          config: {"provider": "textin"}
                
                fullPipeline:
                  summary: 完整流水线示例
                  value:
                    elements:
                      - element_id: "5f84a1db7c9f4ad65f84a1db7c9f4ad65f84a1db7c9f4ad65f84a1db7c9f4ad6"
                        type: "CompositeElement"
                        metadata:
                          filename: "example.pdf"
                          filetype: "application/pdf"
                          file_size: 102400
                          orig_elements:
                            - "abcdef0123456789abcdef0123456789abcdef0123456789abcdef0123456789"
                            - "1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                          detection_class_prob: 0.95
                        text: "这是处理后的文本块"
                        embeddings: [0.1, 0.2, 0.3, 0.4]
                    stats:
                      original_elements: 10
                      chunked_elements: 15
                      embedded_elements: 15
                      stages:
                        - type: "parse"
                          config: {"provider": "textin"}
                        - type: "chunk"
                          config:
                            strategy: "basic"
                            max_characters: 1000
                        - type: "embed"
                          config:
                            provider: "qwen"
                            model_name: "text-embedding-v4"
        
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missingFile:
                  summary: 缺少文件
                  value:
                    code: 400
                    message: "file is required"
                
                invalidStages:
                  summary: stages 格式错误
                  value:
                    code: 400
                    message: "parse stages failed: invalid JSON"
                
                stagesValidationError:
                  summary: stages 验证失败
                  value:
                    code: 400
                    message: "first stage must be parse, got: chunk"
        
        '401':
          description: 鉴权失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: "unauthorized: invalid app-id or secret-code"
        
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: "internal server error: parse failed"

components:
  securitySchemes:
      AppIdAuth:
        type: apiKey
        in: header
        name: x-ti-app-id
        description: '请[登录Textin](https://www.textin.com/console/dashboard/setting)后前往 "工作台-账号设置-开发者信息" 查看 x-ti-app-id'
      SecretCodeAuth:
        type: apiKey
        in: header
        name: x-ti-secret-code
        description: '请[登录Textin](https://www.textin.com/console/dashboard/setting)后前往 "工作台-账号设置-开发者信息" 查看 x-ti-secret-code'


  schemas:
    PipelineResponse:
      type: object
      required:
        - elements
        - stats
      properties:
        elements:
          type: array
          description: 处理后的元素列表
          items:
            $ref: '#/components/schemas/Element'
        stats:
          $ref: '#/components/schemas/PipelineStats'
    
    Element:
      type: object
      required:
        - element_id
        - type
        - metadata
        - text
      properties:
        element_id:
          type: string
          description: 元素唯一标识符
          example: "elem_001"
        type:
          type: string
          description: 元素类型（如 Title, NarrativeText, Table 等）
          example: "Title"
        metadata:
          $ref: '#/components/schemas/Metadata'
        text:
          type: string
          description: 元素的文本内容
          example: "这是文档中的一段文本"
        embeddings:
          type: array
          description: 向量化后的嵌入向量（仅在执行 embed stage 后存在）
          items:
            type: number
            format: float
          example: [0.1, 0.2, 0.3, 0.4, 0.5]
    
    Metadata:
      type: object
      required:
        - filename
      properties:
        record_id:
          type: string
          description: 记录 ID
          example: "record_001"
        parent_id:
          type: string
          description: 父元素 ID
          example: "parent_001"
        filename:
          type: string
          description: 文件名
          example: "example.pdf"
        filetype:
          type: string
          description: 文件类型
          example: "application/pdf"
        file_size:
          type: integer
          format: int64
          description: 文件大小（字节）
          example: 102400
        file_directory:
          type: string
          description: 文件所在的目录或前缀
          example: "/projects/demo/"
        last_modified:
          type: string
          format: date-time
          description: 文件最后修改时间
          example: "2024-11-19T14:15:22Z"
        coordinates:
          type: array
          description: |
            元素在页面上的坐标。以长度为 8 的整型数组表示四边形，8 个数两两一组为一个点的横纵坐标，分别是左上、右上、右下、左下。
            当输入是 PDF 时，此坐标是基于 72dpi 的；当输入是图片时，此坐标是原图里的坐标。单位：像素。
          items:
            type: integer
          minItems: 8
          maxItems: 8
          example: [217, 390, 1336, 390, 1336, 460, 217, 460]
        category_depth:
          type: integer
          description: 元素在同类元素中的目录深度
          example: 1
        languages:
          type: array
          description: 元素的语言列表
          items:
            type: string
          example: ["zh", "en"]
        text_as_html:
          type: string
          description: 表格或富文本的 HTML 表示
          example: "<table>...</table>"
        image_base64:
          type: string
          description: 图片的 base64 编码
        image_mine_type:
          type: string
          description: 图片的 MIME 类型
          example: "image/png"
        emphasized_text_contents:
          type: array
          description: 被强调（粗体/斜体）的文本内容
          items:
            type: string
        emphasized_text_tags:
          type: array
          description: 与强调文本对应的样式标签
          items:
            type: string
        is_continuation:
          type: boolean
          description: 是否与下一段落连续（仅 parse 阶段）
        orig_elements:
          type: array
          description: 原始元素 ID 列表（仅在 chunk 时设置 include_orig_elements 为 true 时存在）
          items:
            type: string
          example:
            - "7d3d8091c9f646cf8edcb9bf92f797b1"
            - "bb9d1d24cfb442dcb25bbaaf634e210d"
        detection_class_prob:
          type: number
          format: float
          description: 版面检测置信度
          example: 0.95
    
    PipelineStats:
      type: object
      required:
        - original_elements
        - chunked_elements
        - embedded_elements
        - stages
      properties:
        original_elements:
          type: integer
          description: 原始解析的元素数量（parse stage 产生）
          example: 10
        chunked_elements:
          type: integer
          description: 分块后的元素数量（chunk stage 产生，如果没有执行则为 0）
          example: 15
        embedded_elements:
          type: integer
          description: 向量化后的元素数量（embed stage 产生，如果没有执行则为 0）
          example: 15
        stages:
          type: array
          description: 实际执行的 stages 配置
          items:
            $ref: '#/components/schemas/PipelineStage'
    
    PipelineStage:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [parse, chunk, embed]
          description: |
            处理阶段类型：
            - parse: 文档解析
            - chunk: 文本分块
            - embed: 向量化
          example: "parse"
        config:
          type: object
          description: |
            阶段配置，根据 type 不同有不同的结构：
            - type=parse: ParseConfig
            - type=chunk: ChunkConfig
            - type=embed: EmbedConfig
          oneOf:
            - $ref: '#/components/schemas/ParseConfig'
            - $ref: '#/components/schemas/ChunkConfig'
            - $ref: '#/components/schemas/EmbedConfig'
          example: {}
    
    ParseConfig:
      type: object
      required:
        - provider
      description: |
        文档解析配置。支持 PDF、图片等多种文档格式的解析。
        
        **支持的 Parser 解析引擎：**
        - textin: TextIn 自研解析引擎
        - mineru: MinerU 解析引擎
        - paddle: PaddleOCR 解析引擎
      properties:
        provider:
          type: string
          enum: [textin, mineru, paddle]
          description: |
            Parser 解析引擎：
            - textin: TextIn 自研解析引擎
            - mineru: MinerU 解析引擎
            - paddle: PaddleOCR 解析引擎
          default: "textin"
          example: "textin"
        
        pdf_pwd:
          type: string
          description: |
            PDF 密码。当 PDF 为加密文档时，需要提供密码。
            
            **安全提示**：对前端封装该接口参数时，需要自行对密码进行安全防护。
          example: "password123"
        
        page_start:
          type: integer
          minimum: 1
          description: |
            起始页码。当上传的是 PDF 时，表示从第几页开始解析。
            取值范围从 1 开始，不传该参数时默认从首页开始。
          default: 1
          example: 1
        
        page_count:
          type: integer
          minimum: 1
          maximum: 1000
          description: |
            解析页数。当上传的是 PDF 时，表示要进行解析的 PDF 页数。
            总页数不得超过 1000 页。
          default: 1000
          example: 10
        
        parse_mode:
          type: string
          enum: [auto, scan]
          description: |
            PDF 文档的解析模式。图片不用设置，均默认按 scan 模式处理。
            
            - **auto**: 综合文字识别和解析模式，对 PDF 电子档解析会直接提取 PDF 中的文字
            - **scan**: 仅按文字识别模式，将 PDF 当成图片处理
          default: "scan"
          example: "scan"
        
        dpi:
          type: integer
          enum: [72, 144, 216]
          description: |
            PDF 文档的坐标基准，与 parse_mode 参数联动：
            
            - 当 parse_mode=auto 时：默认动态，支持 72、144、216
            - 当 parse_mode=scan 时：默认 144，支持 72、144、216
          default: 144
          example: 144
        
        apply_document_tree:
          type: integer
          enum: [0, 1]
          description: |
            Markdown 中是否生成标题层级。
            
            - **0**: 不生成标题（同时也不会返回 catalog 字段）
            - **1**: 生成标题
          default: 1
          example: 1
        
        table_flavor:
          type: string
          enum: [md, html, none]
          description: |
            Markdown 里的表格格式。
            
            - **md**: 按 Markdown 语法输出表格
            - **html**: 按 HTML 语法输出表格
            - **none**: 不进行表格识别，把表格图像当成普通文字段落来识别
          default: "html"
          example: "html"
        
        get_image:
          type: string
          enum: [none, page, objects, both]
          description: |
            获取 Markdown 里的图片。
            
            - **none**: 不返回任何图像
            - **page**: 返回每一页的整页图像（即 PDF 页的完整页图片）
            - **objects**: 返回页面内的子图像（即 PDF 页内的各个子图片）
            - **both**: 返回整页图像和图像对象
          default: "none"
          example: "none"
        
        image_output_type:
          type: string
          enum: [base64str, default]
          description: |
            指定返回的图片对象输出类型。
            
            - **base64str**: 指定所有图片对象为 base64 字符串，适用于没有云存储的用户，但是引擎返回结果体积会很大
            - **default**: 指定子图片对象为图片 URL，页图片对象为图片 ID
          default: "default"
          example: "default"
        
        apply_image_analysis:
          type: integer
          enum: [0, 1]
          description: |
            图像分析参数。利用大模型对文档中的子图片进行分析，分析结果以 Markdown 格式输出，
            并替换掉子图片的文本识别内容。
            
            - **0**: 不进行图像分析
            - **1**: 进行图像分析
          default: 0
          example: 0
        
        paratext_mode:
          type: string
          enum: [none, annotation, body]
          description: |
            Markdown 中非正文文本内容展示模式。非正文内容包括页眉页脚、子图中的文本。
            
            - **none**: 不展示
            - **annotation**: 以注释格式插入到 Markdown 中（页眉页脚中的图片只保留文本，图片 base64 或 URL 不保留）
            - **body**: 以正文格式插入到 Markdown 中
          default: "annotation"
          example: "annotation"
        
        formula_level:
          type: integer
          enum: [0, 1, 2]
          description: |
            公式识别等级。开启公式识别后，会使用 LaTeX 表达式。
            
            - **0**: 行间公式和行内公式都识别
            - **1**: 仅识别行间公式，行内公式不识别
            - **2**: 不识别公式
          default: 0
          example: 0
        
        underline_level:
          type: integer
          enum: [0, 1, 2]
          description: |
            控制下划线识别范围。
            
            - **0**: 不识别
            - **1**: 仅识别无文字的下划线（仅 scan 模式可用）
            - **2**: 识别全部的下划线（仅 scan 模式可用）
          default: 0
          example: 0
        
        apply_merge:
          type: integer
          enum: [0, 1]
          description: |
            是否进行段落合并和表格合并。
            
            - **0**: 不合并
            - **1**: 合并段落和表格
          default: 1
          example: 1
        
        raw_ocr:
          type: integer
          enum: [0, 1]
          description: |
            是否返回全部文字识别结果（包含字符坐标信息），结果字段为 raw_ocr。
            与 page_details 参数联动，当 page_details 为 0 时不返回。
            
            - **0**: 不返回
            - **1**: 返回
          default: 0
          example: 0
        
        char_details:
          type: integer
          enum: [0, 1]
          description: |
            是否返回结果中的 char_pos 字段（保存每个字符的位置信息）和 raw_ocr 中的 char_ 相关字段。
            
            - **0**: 不返回
            - **1**: 返回
          default: 0
          example: 0
        
        catalog_details:
          type: integer
          enum: [0, 1]
          description: |
            是否返回结果中的 catalog 字段，保存目录相关信息。
            与 apply_document_tree 参数联动，当 apply_document_tree 为 0 时不返回。
            
            - **0**: 不返回
            - **1**: 返回
          default: 0
          example: 0
        
        get_excel:
          type: integer
          enum: [0, 1]
          description: |
            是否返回 Excel 的 base64 结果，结果字段为 excel_base64。
            可以根据该字段进行后处理保存 Excel 文件。
            
            - **0**: 不返回
            - **1**: 返回
          default: 0
          example: 0
        
        crop_dewarp:
          type: integer
          enum: [0, 1]
          description: |
            切边矫正。是否进行切边矫正预处理。
            
            - **0**: 不进行切边矫正
            - **1**: 进行切边矫正
          default: 0
          example: 0
        
        remove_watermark:
          type: integer
          enum: [0, 1]
          description: |
            去水印。是否进行去水印预处理。
            
            - **0**: 不去水印
            - **1**: 去水印
          default: 0
          example: 0
        
        apply_chart:
          type: integer
          enum: [0, 1]
          description: |
            图表识别。是否开启图表识别，开启图表识别会将识别到的图表以表格形式输出。
            
            - **0**: 不开启图表识别
            - **1**: 开启图表识别
          default: 0
          example: 0
    
    ChunkConfig:
      type: object
      properties:
        strategy:
          type: string
          enum: [basic, by_title, by_page]
          description: |
            分块策略：
            - basic: 基础分块（按字符数切分）
            - by_title: 按标题切分
            - by_page: 按页面切分
          default: "basic"
          example: "basic"
        include_orig_elements:
          type: boolean
          description: 是否在 metadata 中包含原始元素 ID
          default: false
          example: true
        new_after_n_chars:
          type: integer
          description: 在多少字符后创建新块
          example: 800
        max_characters:
          type: integer
          description: 每个块的最大字符数
          default: 1000
          example: 1000
        overlap:
          type: integer
          description: 相邻块之间的重叠字符数
          example: 100
    
    EmbedConfig:
      type: object
      required:
        - provider
        - model_name
      properties:
        provider:
          type: string
          enum: [qwen, doubao]
          description: |
            Embedding 供应商：
            - qwen: 阿里云通义千问
            - doubao: 字节跳动豆包
          default: "qwen"
          example: "qwen"
        model_name:
          type: string
          description: |
            模型名称，必须与 provider 匹配：
            
            **Qwen 支持的模型：**
            - text-embedding-v3
            - text-embedding-v4
            
            **Doubao 支持的模型：**
            - doubao-embedding-large-text-250515
            - doubao-embedding-text-240715
          default: "text-embedding-v4"
          example: "text-embedding-v4"
          enum:
            - text-embedding-v3
            - text-embedding-v4
            - doubao-embedding-large-text-250515
            - doubao-embedding-text-240715
    
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          description: 错误码
          example: 400
        message:
          type: string
          description: 错误信息
          example: "invalid request parameters"

tags:
  - name: XParse Pipeline
    description: |
      文档处理流水线接口
      
      ## 功能特性
      - 🔄 灵活的流水线配置：可自由组合 parse、chunk、embed 三种处理阶段
      - 📄 多格式支持：支持 PDF、图片等多种文档格式
      - 🧩 智能分块：支持基础、按标题、按页面三种分块策略
      - 🤖 多模型支持：支持通义千问和豆包的多种 embedding 模型
      - 📊 处理统计：返回详细的处理统计信息
      
      ## 计费说明
      - 按照 parse 阶段处理的页数计费
      - chunk 和 embed 阶段不额外收费
      - 计费信息通过 x-ti-app-id 和 x-ti-secret-code 进行关联

